<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="h.css" rel="stylesheet">

    <title>Document</title>
</head>
<body style="background: url(https://www.westend61.de/images/0000946461pw/worker-using-mobile-phone-KIJF01941.jpg);background-repeat: no-repeat;background-size: cover;"  class="jumbotron bg-cover text-white">
    

    <nav class="navbar navbar-expand-lg  ">
        <div class="container-fluid">
          <a class="navbar-brand"><B><i>find</i></B></a>
          <form class="d-flex">
            
            <a href="login.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">login</a>  
           &nbsp;&nbsp;
           <a href="signup.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">signup</a>
          </form>
        </div>
      </nav>
            <!-- navbar end -->


            <!-- firstdiv -->


            <div>
                <div class="container py-5 text-center">
                   
                  <br><br><br><br><br><br>
                  <br>

                    <form action="get" class="container">
                               
                
              
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        
                        <input type="text" placeholder="job title" name="job title"style=" width: 45%; height:1cm;
                        font-size: 1.2rem;  border-box:solid;  color: #065a9b;
                        background-color: #fff;" required>
                    
                        
                        
                        
                        <input type="text" placeholder="city,pincode" style=" width: 45%; height:1cm;
                        font-size: 0.875rem;   font-size: 1.2rem; color: #065a9b;
                        background-color: #fff; "required>
                        
                        
                        
                         
                       
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <br>
                            <br>
                      <button type="submit" class="btn btn-primary" style=" width: 25%;" >FIND WORKERS</button>
                      </form>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <br>
                      <br><br><br><br><br>
                </div>
            </div>
<br><br><br><br><br>



            <section class="">
                <!-- Footer -->
                <footer class="text-center text-white" style="background-color: #0a4275;">
                  <!-- Grid container -->
                  <div class="container p-4 pb-0">
                    <!-- Section: CTA -->
                    <section class="">
                      <p class="d-flex justify-content-center align-items-center">
                        <span class="me-3">Register for free</span>
                        <button type="button" class="btn btn-outline-light btn-rounded">
                          Sign up!
                        </button>
                      </p>
                    </section>
                    <!-- Section: CTA -->
                  </div>
                  <!-- Grid container -->



                  
              
                  <!-- Copyright -->
                  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2020 Copyright:
                    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
                  </div>
                  <!-- Copyright -->
                </footer>
                <!-- Footer -->
              </section>


    
</body>
</html>